<html>
    <head>
		<meta charset = "UTF-8">
		<title>Job Fraudulent Classifier System</title>
		<link href="../static/css/item_style.css" type="text/css" rel="stylesheet" />
		<link href="../static/css/animation.css" type="text/css" rel="stylesheet" />
	</head>
		
	<body class='background'>

        <div class="form_background">
            <div class="title_container">
                <p class="title">ERROR REPORT</p>
                <div class="title_line"></div>
            </div>

            <div class='report_container'>
                {{html_text|safe}}
            </div>

        </div>
        
	</body>

</html>