<html>
    <head>
		<meta charset = "UTF-8">
		<title>Job Fraudulent Classifier System</title>
		<link href="../static/css/item_style.css" type="text/css" rel="stylesheet" />
		<link href="../static/css/animation.css" type="text/css" rel="stylesheet" />

		<script src="../static/js/p5/p5.js"></script>
		<script src="../static/js/p5/p5.sound.min.js"></script>
		<script src="../static/js/StartSketch.js"></script>
		<script src="../static/js/Tool.js"></script>
	</head>

	<body class="background">

		<div class="main_text">
			<div>
				<p class="huge_text">
					WELCOME TO
				</p>
				<p class="small_text">
					SCAM JOB ALERTER
				</p>
			</div>

			<div style="margin-top: 12%;" onclick='jumpToOtherWeb("{{url_for('formOne')}}")'>
				<p class="button_text">
					START
				</p>
				<img src="../static/image/Arrow.png"  width="90px" height="40px"/>
			</div>
		</div>

	</body>

</html>
